body {
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    padding-bottom: 100px !important
}

.container .form-group-lg {
    padding-top: 15px;
}

.container .btn {
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    height: 50px;
    background: black !important;
    font-size: 20px;
}

.container img {
    width: 300px;
    height: 100px;
    margin-left: 55px;
}

@media(max-width: 1000px) {
    .container {
        width: 100%;
        height: 100vh;
        margin-top: 0px
    }
    .container img {
        margin-left: -10px;
    }
    .container .col-md-push-2 {
        margin-left: -12px;
    }
}