body{
	background-color:black;
}
.container{
	margin-top: 30px;
	width: 600px;
	background-color: white;
	padding: 60px;
	box-shadow: 0 10px 100px -8px #000;
	border-radius: 10px
}
.container .input-group{
	padding-top: 120px;
	width: 70%;
}
.container .btn-lg{
   width:100%;
  	font-size: 15px;
  	margin-top: 69px;
  	height:50px;
  	background: black !important;
  	font-size: 20px;


}

.container .first
{
	padding-top: 170px;
}
.container img{
	width: 350px;
	height: 100px;
	margin-top: -35px;
	position: absolute;
	margin-left: 60px;
}


.imgCont{
	position: relative;
	text-align: center;
}

.imgCont img{
	margin-left: -200px;
	z-index: 1000;
	top: 0
}
.imgCont h4{
	position: absolute;
	z-index: 20000;
	bottom: 10px;
	top: 85px;
	margin-left: 115px;
	font-size: 20px;
}



@media(max-width: 1000px){
	.container h4{
		margin-left: -10px;
	}
	.imgCont img{
		margin-left: -170px;
	}
	.container{
		width: 100%;
		height: 100vh;
		margin-top: 0px
	}

}