body {
    font-family:  Poppins, sans-serif;
    overflow-x: hidden
}

.nav-link {
    color: #9D9D9D !important;
    font-weight: bolder;
}

.navbar {
    border: 0px;
    -webkit-box-shadow: 0px !important;
    box-shadow: 0px !important;
}

.navbar-toggler-icon {
    background-color: black;
    border-radius: 5px
}

a.navbar-brand {
    color: #9D9D9D !important;
    font-weight: bolder
}

.nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

.big {
    font-size: 50px;
    font-weight: bolder;
    margin-top: 100px
}

.medium {
    font-weight: bolder;
    color: #9D9D9D;
    margin-top: 20px
}

.fa.fa-play-circle-o {
    margin-right: 10px;
    font-size: 35px
}

#demo-btn {
    font-size: 14px;
    background: rgb(241, 51, 63);
}

#landing {
    
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/BG.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.sponse {
    font-weight: bolder;
    color: #c1c1c1;
}

#two {
    background: rgb(130, 181, 33);
    padding: 70px;
    padding-top: 150px;
}

.small-head {
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

.body {
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

.preview {
    z-index: 2;
    transform: rotate(335deg);
    margin-top: -80px;
    width: 600px;
    height: 600px;
}

.three {
    background: #FFCD0A;
    width: 100%;
    height: 700px;
    z-index: 3;
    position: relative;
    border-top: 3px solid white;
    padding: 70px;
    padding-top: 150px;
}

.logo{
    width: 150px;
    height: 30px;
}

.more-body {
    color: white;
    font-weight: bolder;
    font-size: 25px;
    line-height: 35px
}

.couch {
    width: 600;
    height: 600;
}

#watch-btn {
    font-size: 14px;
    width: 100%;
    padding: 10px
}

a.btn-clear {
    border-radius: 10px;
    color: #FFF !important;
    background: white;
    font-weight: bolder !important;
    background-color: rgb(241, 51, 63);
}

#four {
    width: 100%;
    background: #F1333F;
    padding: 70px;
    padding-top: 150px;
    border-top: 3px solid white;
}

#five {
    width: 100%;
    
    background: #73d7fc;
    padding: 70px;
    padding-top: 150px;
    border-top: 3px solid white;
}

.btn-follow {
    border: 1px solid white;
    background-color: #F1333F;
    font-weight: bold;
    font-size: 50px
}

.back {
    margin-top: -70px
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

#six{
    padding-bottom: 50px
}

#blue{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right bottom,  #6899d3, #73d7fc);
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#red{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to left bottom, #c92834, #9d4d4d);
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.footer{
    padding: 60px
}

.grey-header{
    color: #525050
}

/*Smaller acreens*/

@media(max-width: 600px) {
    .big {
        margin-top: 50px
    }
    #two,
    .three,
    #five {
        padding: 10px;
        padding-top: 70px;
    }
    .more-body {
        color: white;
        font-weight: bolder;
        font-size: 25px;
    }
    .small-head {
        font-size: 14px;
        font-weight: bolder;
        color: white;
    }
    .body {
        font-size: 30px;
        font-weight: bolder;
        color: white;
    }
    .preview {
        transform: rotate(30deg);
        top: 0;
        z-index: 2;
        position: relative;
        margin-top: 100px;
        width: 300px;
        height: 300px
    }
    .couch {
        width: 200;
        height: 200;
        margin-top: -60px
    }
    .btn-follow {
        font-weight: bold;
        font-size: 50px;
        width: 100%
    }
    #four{
        padding-top: 30px;
        padding: 10px
    }
}
